<template name="topper">
  <div class="topper">

    <div class="topper-logo"></div>

    <div class="topper-content">
      <div class="ui-valign">

        <div class="topper-avatar">
          <img src="/img/no_photo.png" />
        </div>

        <div class="topper-name">

          <div class="topper-firstname">
            Isabella
          </div>

          <div class="topper-lastname">
            Forgenotti
          </div>

        </div>
      </div>
    </div>

    <div class="topper-address">
      <div class="ui-valign">

        <div class="topper-address-title">
          {{_ 'topper.address'}}:
        </div>

        <div class="topper-address-val">
          Ocean Drive, app. 34
        </div>

      </div>
    </div>

    <div class="topper-edit">
      <div class="ui-valign">
        {{_ 'topper.edit'}}
      </div>
    </div>

  </div>
</template>
