@import "{}/client/scss/aux";

.topper {
  top: 0;
  height: $topperHeight;
  background: $dark;
  z-index: 12;
  font-weight: 500;
  color: white;

  &-logo {
    height: $topperHeight;
    width: $menuWidth;
    position: absolute;
    left: 0;
    top: 0;
    cursor: pointer;
    background: $orange url('/img/logo.png') no-repeat center;
  }

  &-content {
    height: 100%;
    padding: 0 32.5rem 0 $menuWidth+7rem;
  }

  &-avatar, &-name {
    @include mid-inline-block;
  }

  &-avatar {
    @include size(5rem);

    img {
      max-width: 100%;
      max-height: 100%;
    }
  }

  &-name {
    margin-left: 1.8rem;
  }

  &-address {
    width: 16.5rem;
    height: 100%;
    position: absolute;
    top: 0;
    right: 14rem;
  }

  &-address-title {
    color: $gray;
  }

  &-address-val {
    color: white;
  }

  &-edit {
    height: 100%;
    width: 11.5rem;
    background: $orange;
    top: 0;
    right: 0;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
  }
}
