<template name="menu">

  <div class="menu{{#if isActiveMenu}} active{{/if}}">
    <div class="menu-content">

      <div class="menu-items">
        <div class="display-table">
          <div class="display-cell">

            <div class="menu-item active">
              <div class="menu-item-inside">
                <div class="ui-valign">
                  {{_ 'menu.home'}}
                </div>
              </div>
            </div>

            <div class="menu-item">
              <div class="menu-item-inside">
                <div class="ui-valign">
                  {{_ 'menu.events'}}
                </div>
              </div>
            </div>

            <div class="menu-item">
              <div class="menu-item-inside">
                <div class="ui-valign">
                  {{_ 'menu.memberships'}}
                </div>
              </div>
            </div>

            {{#if $.Session.equals 'appType' 'user'}}
              <div class="menu-item unread">
                <div class="menu-item-inside">
                  <div class="ui-valign">
                    {{_ 'menu.notifications'}}
                  </div>
                </div>
              </div>

              <div class="menu-item">
                <div class="menu-item-inside">
                  <div class="ui-valign">
                    {{_ 'menu.orders'}}
                  </div>
                </div>
              </div>
            {{/if}}

            {{#if $.Session.equals 'appType' 'admin'}}
              <div class="menu-item">
                <div class="menu-item-inside">
                  <div class="ui-valign">
                    {{_ 'menu.group'}} {{_ 'menu.members'}}
                  </div>
                </div>
              </div>
            {{/if}}

          </div>
        </div>
      </div>

      <div class="menu-features">
        <div class="ui-valign">

          <button class="menu-feature menu-settings green">

            <div class="menu-settings-icon settings-icon button-icon"></div>

            <div class="button-label">
              {{_ 'menu.settings'}}
            </div>

          </button>

          <a class="menu-feature" href="{{pathFor getOtherTypePath}}">
            <div class="menu-switch">
              {{getOtherTypeLabel}}
            </div>
          </a>

          <div class="menu-feature menu-logout">

            <div class="menu-logout-icon"></div>

            <div>
              {{_ 'menu.logout'}}
            </div>

          </div>

        </div>
      </div>

    </div>
  </div>

</template>
