@import "{}/client/scss/aux";

.app-container {
  &.orange {
    .menu-item {
      &.active, &:hover {
        &:before {
          background: $orange;
        }
      }
    }

    .menu-switch {
      color: $blue;
      width: 7.5rem;
    }
  }

  &.blue {
    .menu-item {
      &.active, &:hover {
        &:before {
          background: $blue;
        }
      }
    }

    .menu-switch {
      color: $orange;
      width: 10.5rem;
    }
  }
}

.menu {
  width: $menuWidth;
  position: fixed;
  height: 100%;
  left: 0;
  top: 0;
  background: $dark;
  z-index: 11;
  padding: $topperHeight 0 $footerHeight;
  text-align: center;

  &-content {
    height: 100%;
    padding-bottom: $footerFeaturesHeight;
    position: relative;
  }

  &-items {
    height: 100%;
  }

  &-item {
    color: white;
    height: 4.5rem;
    cursor: pointer;
    position: relative;
    will-change: background;
    font-weight: 500;
    @include transition(background 0.3s ease-in-out);

    &:before, &:after {
      top: 0;
      will-change: background;
      @include pseudo;
      @include transition(background 0.3s ease-in-out);
    }

    &:before {
      width: 0.4rem;
      height: 100%;
      left: 0;
    }

    &:after {
      bottom: 0;
      margin: auto;
      right: 4.1rem;
      @include rounded;
      @include size(0.6rem);
    }

    &:not(:last-child) {
      margin-bottom: 1.8rem;
    }

    &:hover, &.active {
      background: $dark2;

      &:before {
        background: $orange;
      }
    }

    &.active {
      .menu-item-inside {
        &:after {
          opacity: 1;
        }
      }
    }

    &.unread {
      &:after {
        background: $orange;
      }
    }

    .menu-item-inside {
      &:after {
        opacity: 0;
        width: 1.7rem;
        height: 100%;
        top: 0;
        right: -1.6rem;
        background: url('/img/menu_arrow.png') no-repeat center / contain;
        will-change: opacity;
        @include transition(opacity 0.3s linear);
        @include pseudo;
      }
    }
  }

  &-item-inside {
    height: 100%;
    padding: 0 2rem;
  }

  &-features {
    width: 100%;
    height: $footerFeaturesHeight;
    position: absolute;
    bottom: 0;
    left: 0;
    background: $dark2;
  }

  &-feature {
    cursor: pointer;
    display: block;
    margin: auto;

    &:not(:last-child) {
      margin-bottom: 4rem;
    }
  }

  &-settings {
    width: 13rem;
    height: 4rem;
  }

  &-settings-icon {
    @include size(2.3rem 1.6rem);
  }

  &-switch {
    font-size: 1.2rem;
    text-decoration: underline;
    margin: auto;
  }

  &-logout {
    color: white;
    width: 6rem;
    margin: auto;
  }

  &-logout-icon {
    background: url('/img/logout.png') no-repeat center / contain;
    margin: auto;
    margin-bottom: 0.1rem;
    @include size(2.1rem);
  }
}
