@include remmer(1, 10);

@include font-face("Roboto", "/font/Roboto_Regular/Roboto_Regular");
@include font-face("Roboto", "/font/Roboto_Medium/Roboto_Medium", 500);
@include font-face("Roboto", "/font/Roboto_Bold/Roboto_Bold", 700);
@include font-face("Roboto", "/font/Roboto_Black/Roboto_Black", 900);

* {
	padding: 0;
	margin: 0;
	outline: none;
  box-sizing: border-box;
}

ul {
	margin: 0;
	padding: 0;
}

p {
	margin-top: 0;
}

table tr {
	border: none;
	padding: 0;
	margin: 0;
}

a {
  color: inherit;
	text-decoration: inherit;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
}

input, textarea, button {
	border-radius: 0.4rem;
}

input, textarea {
	width: 100%;
	border: none;
	background: rgba(19, 120, 190, 0.21);
	padding: 0 1rem;
}

input {
	text-align: center;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
input:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */

textarea {
	resize: none;
}

button {
	border: none;
	color: white;
	font-weight: 500;

	&.orange {
		box-shadow: 0 0.1rem 0 0 #b92d15, inset 0 0.1rem 0.1rem 0 #fab296;
		background: rgb(254,120,89); /* Old browsers */
		background: -moz-linear-gradient(top, rgba(254,120,89,1) 0%, rgba(242,86,60,1) 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top, rgba(254,120,89,1) 0%,rgba(242,86,60,1) 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom, rgba(254,120,89,1) 0%,rgba(242,86,60,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fe7859', endColorstr='#f2563c',GradientType=0 ); /* IE6-9 */

		&:hover {
			background: -moz-linear-gradient(top, rgba(255,255,255,0.15) 0%, rgba(255,255,255,0.15) 100%),
			-moz-linear-gradient(top, rgba(254,120,89,1) 0%, rgba(242,86,60,1) 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(top, rgba(255,255,255,0.15) 0%,rgba(255,255,255,0.15) 100%),
			-webkit-linear-gradient(top, rgba(254,120,89,1) 0%,rgba(242,86,60,1) 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%,rgba(255,255,255,0.15) 100%),
			linear-gradient(to bottom, rgba(254,120,89,1) 0%,rgba(242,86,60,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0),
			progid:DXImageTransform.Microsoft.gradient( startColorstr='#fe7859', endColorstr='#f2563c',GradientType=0 ); /* IE6-9 */
		}
	}

	&.green {
		box-shadow: 0 0.1rem 0 0 #006b37, inset 0 0.1rem 0.1rem 0 #00ff84;
		background: rgb(0,205,111); /* Old browsers */
		background: -moz-linear-gradient(top, rgba(0,205,111,1) 0%, rgba(0,168,99,1) 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top, rgba(0,205,111,1) 0%,rgba(0,168,99,1) 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom, rgba(0,205,111,1) 0%,rgba(0,168,99,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00cd6f', endColorstr='#00a863',GradientType=0 ); /* IE6-9 */

		&:hover {
			background: -moz-linear-gradient(top, rgba(255,255,255,0.15) 0%, rgba(255,255,255,0.15) 100%),
			-moz-linear-gradient(top, rgba(0,205,111,1) 0%, rgba(0,168,99,1) 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(top, rgba(255,255,255,0.15) 0%,rgba(255,255,255,0.15) 100%),
			-webkit-linear-gradient(top, rgba(0,205,111,1) 0%,rgba(0,168,99,1) 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%,rgba(255,255,255,0.15) 100%),
			linear-gradient(to bottom, rgba(0,205,111,1) 0%,rgba(0,168,99,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0),
			progid:DXImageTransform.Microsoft.gradient( startColorstr='#00cd6f', endColorstr='#00a863',GradientType=0 ); /* IE6-9 */
		}
	}

	&.blue {
		box-shadow: 0 0.1rem 0 0 #1a6db4, inset 0 0.1rem 0.1rem 0 #8ccbff;
		background: rgb(64,161,244); /* Old browsers */
		background: -moz-linear-gradient(top, rgba(64,161,244,1) 0%, rgba(55,149,229,1) 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top, rgba(64,161,244,1) 0%,rgba(55,149,229,1) 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom, rgba(64,161,244,1) 0%,rgba(55,149,229,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#40a1f4', endColorstr='#3795e5',GradientType=0); /* IE6-9 */

		&:hover {
			background: -moz-linear-gradient(top, rgba(255,255,255,0.15) 0%, rgba(255,255,255,0.15) 100%),
			-moz-linear-gradient(top, rgba(64,161,244,1) 0%, rgba(55,149,229,1) 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(top, rgba(255,255,255,0.15) 0%,rgba(255,255,255,0.15) 100%),
			-webkit-linear-gradient(top, rgba(64,161,244,1) 0%,rgba(55,149,229,1) 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%,rgba(255,255,255,0.15) 100%), linear-gradient(to bottom, rgba(64,161,244,1) 0%,rgba(55,149,229,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0),
			progid:DXImageTransform.Microsoft.gradient(startColorstr='#40a1f4', endColorstr='#3795e5',GradientType=0); /* IE6-9 */
		}
	}
}
.green.shrink {
	width: 4.5rem;
}

img {
	display: block;
}

.bread-crumbs {
	color: $gray2;
	margin-bottom: 25px;
	a {
		text-decoration: underline;
		&:hover {
			color: darken($gray2, 10%);
		}
	}
}

.settings-sections {
	text-transform: uppercase;
	font-weight: 500;
	color: $gray2;
	text-align: center;
	a {
		display: inline-block;
		&:hover {
			color: darken($gray2, 10%);
		}
		&:first-of-type:before {
			display: none;
		}
		&:before {
			content: "|";
			color: $gray2;
			margin: 0 20px;
			font-size: 20px;
			font-weight: 300;
		}

		&.active {
			color: $blue;
		}
		&.error {
			color: $orange;
		}
	}
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */