$arial: Arial, sans-serif;

$topperHeight: 8.2rem;
$menuWidth: 21.5rem;
$footerHeight: 4.5rem;
$footerFeaturesHeight: 26rem;

$bg: #e8ecef;
$dark: #353942;
$dark2: #292d36;
$orange: #ff674e;
$blue: #2195d7;
$gray: #8b919f;
$gray2: #707d94;
$gray3: #e3e3e3;
$gray4: #e2e3e5;
$white05: rgba(255, 255, 255, 0.5);
