@import "{}/client/scss/all";

.create-new-event-wrap {
  .select-alone {
    width: 60%;
  }

  .date-block {
    .select-alone {
      width: 46%;
      float: left;
    }

    .time-block {
      width: 50% !important;
      float: right;
    }
    .time-start, .time-end {
      width: 45% !important;
      float: left;
    }
    .time-start input {
      border-radius: 5px 0 0 5px;
      height: 55px;
    }
    .time-end input {
      border-radius: 0 5px 5px 0;
      height: 55px;
    }
    .time-placer {
      display: block;
      float: left;
      width: 10%;
      height: 55px;
      margin-top: 35px;
      text-align: center;
      font-size: 35px;
      line-height: 50px;
      background-color: $blue;
      color: white;
    }
  }

  .price-block {
    .input-half-size {
      width: 48%;
      float: left;
      input {
        height: 55px;
      }
    }

    .select-alone {
      width: 48%;
      float: right;
    }
  }

}