@import "{}/client/scss/all";

.settingsAdmin-wrap {
  .admin-request-content {
    height: inherit;
  }

  .page-block-label {
    margin-bottom: 13px;
    text-transform: none;
  }

  select {
    border: none;
    background: white
  }
}

.block-label-group {
  margin-bottom: 40px;
}

.left-text-panel {
  width: 100%;
  margin-bottom: 20px;
  height: 5.7rem;
  &:last-of-type {
    margin-bottom: 0;
  }
  .admin-request-panel {
    padding: 0 1.1rem 0 0;
    height: 100%;
  }
  .panel-list-item {
    height: 5.7rem;
  }
  .left-align-btn {
    position: relative;
    float: left;
    margin-right: 13px;

  }
}
.left-text-label {
  float: left;
  padding: 0 30px;
  width: 30rem;
  height: 57px;
  color: white;
  background-color: $gray2;
  text-align: left;
  border-radius: 5px 0px 0px 5px;
  margin-right: 13px;
  span {
    display: block;
  }
}
.left-text-label-long {
  width: 675px;
  height: 100%;
  & + .shrink {
    margin-right: 0px;
  }
}

.img-upload-group {
  position: relative;
  button {
    float: left;
    position: relative;
  }
}
.upload-area {
  width: 300px;
  height: 200px;
  background-color: white;
  border-radius: 5px;
  margin-right: 13px;
  float: left;
}