@import "{}/client/scss/all";

html, body, .app-container {
  height: 100%;
  width: 100%;
}

html {
  min-width: 1200px;
  min-height: 700px;
  font-family: 'Roboto', sans-serif;
}

body {
  background: $bg;
  color: $dark;
  font-size: 1.6rem;
}

button {
  color: white;
  white-space: nowrap;
  will-change: background;
  @include transition(background .3s ease-in-out);
}

.topper, .footer {
  width: 100%;
  position: absolute;
  right: 0;
}

.app-container {
  padding: $topperHeight 0 $footerHeight $menuWidth;
  position: relative;
  overflow: hidden;
}

.app-content, .app-modules {
  height: 100%;
}

.app-modules {
  height: 100%;
  width: 100%;
}

.page-topper {
  height: 21.6rem;
  margin-bottom: 3rem;
  overflow: visible;
}

.panel {
  border-radius: 0.4rem;
  background: white;
  box-shadow: 0 0.1rem 0 0 rgba(126, 126, 126, 0.33);
  position: relative;
}

.page-topper-panel {
  width: 26.6rem;
  height: 100%;
  float: left;

  &:not(:last-child) {
    margin-right: 1.6rem;
  }
}

.topper-panel-button {
  bottom: 2rem;
  @include absolute-horizontal-centered;
  @include size(24rem 5rem);
}

.button-icon {
  margin-right: 0.5rem;
  @include mid-inline-block;
}

.settings-icon {
  background: url('/img/settings.png') no-repeat center / contain;
}

.topper-settings-icon {
  @include size(3.5rem 2.5rem);
}

.button-label {
  @include mid-inline-block;
}
