@import "{}/client/scss/all";

html, body, .app-container {
  height: 100%;
  width: 100%;
}

html {
  min-width: 1200px;
  min-height: 700px;
  font-family: 'Roboto', sans-serif;
}

body {
  background: $bg;
  color: $dark;
  font-size: 1.6rem;
}

button {
  color: white;
  white-space: nowrap;
  will-change: background;
  @include transition(background .3s ease-in-out);
}

.topper, .footer {
  width: 100%;
  position: fixed;
  right: 0;
}

.app-container {
  padding: $topperHeight 0 $footerHeight $menuWidth;
  position: relative;
}

.app-content {
  padding-bottom: $footerHeight;
}

.page-wrap {
  width: 83rem;
  margin: auto;
  padding: 5rem 0 3rem;
}

.page-block {
  margin-bottom: 5rem;
}

.page-block-label {
  text-transform: uppercase;
  font-weight: 500;
}

.page-block-content {
  margin-top: 2.2rem;
  position: relative;
}

.page-topper {
  height: 21.6rem;
  margin-bottom: 3rem;
  overflow: visible;
}

.panel {
  border-radius: 0.4rem;
  background: white;
  box-shadow: 0 0.1rem 0 0 rgba(126, 126, 126, 0.33);
  position: relative;
}

.panel-heading {
  height: 3.3rem;
  padding: 0 1.1rem;
  background: $gray2;
  border-top-right-radius: 0.4rem;
  border-top-left-radius: 0.4rem;
  color: white;
  font-size: 1.4rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.panel-body {
  padding: 4rem 1.1rem 0;
  overflow: hidden;
}

.panel-list-item {
  height: 5.1rem;
  position: relative;

  &.total {
    .panel-list-text {
      color: $gray2;
    }
  }

  &:not(:last-child) {
    border-bottom: 0.1rem solid $gray3;
  }
}

.panel-list-button {
  margin: auto;
  top: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  font-size: 1.2rem;
  @include size(7.5rem 3rem);
}

.panel-list-text {
  padding-right: 8.6rem;
  height: 100%;
}

.page-topper-panel {
  width: 26.6rem;
  height: 100%;
  float: left;
  font-weight: 500;

  &:not(:last-child) {
    margin-right: 1.6rem;
  }
}

.topper-panel-tl, .topper-panel-bl {
  width: 24rem;
  margin: auto;
  text-align: center;
}

.topper-panel-tl {
  margin-top: 2.5rem;
  text-transform: uppercase;
}

.topper-panel-bl {
  margin-top: 1rem;
  font-size: 6.7rem;
  line-height: 6.7rem;
}

.topper-panel-button {
  bottom: 2rem;
  @include absolute-horizontal-centered;
  @include size(24rem 5rem);
}

.page-content-panel {
  width: 40.7rem;
  height: 100%;
  float: left;

  &:not(:last-child) {
    margin-right: 1.6rem;
  }
}

.button-icon {
  margin-right: 0.5rem;
  @include mid-inline-block;
}

.settings-icon {
  background: url('/img/settings.png') no-repeat center / contain;
}

.topper-settings-icon {
  @include size(3.5rem 2.5rem);
}

.button-label {
  @include mid-inline-block;
}

.slash {
  color: $gray4;
  font-weight: 700;
}

.chart-label {
  font-size: 1.4rem;
}
